trigger: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'npm install -g conan'
- task: ArtifactoryConan@1
  inputs:
    conanCommand: 'Install'
    pathOrReference: './conanfile.py'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'