trigger: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true
    architecture: 'x64'
- task: Bash@3
  inputs:
    filePath: 'pip install conan'
- task: ArtifactoryConan@1
  inputs:
    conanCommand: 'Install'
    pathOrReference: './conanfile.py'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'