trigger: none

pool:
  agent: 'yahav'

steps:
- task: ArtifactoryConan@1
  inputs:
    conanCommand: 'Install'
    pathOrReference: './conanfile.py'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'