trigger: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: '/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"'
- task: Bash@3
  inputs:
    filePath: 'brew install conan'
- task: ArtifactoryConan@1
  inputs:
    conanCommand: 'Install'
    pathOrReference: './conanfile.py'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'